body {
    /*font-family: Georgia, Times, "Times New Roman", serif;*/
    font-family: 'Raleway', sans-serif;
    background-color: black;
    background-image: url("../images/dark-triangles/dark-triangles.png");
}

.heading {
    color: #fff;
    display: inline;
}

#headingDiv {
    padding: 20px 0px;
}
.dropdown-item {
    padding-left: 5px; 
}

.modal-content {
    font-family: 'Raleway', sans-serif;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.modal-body {
    font-size: 16px;
}

#map {
    border: 2px solid gray;
    height: 400px;
}
label {
    float: left;
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
}
input {
    float: left;
    margin-bottom: 20px;
}
.btn-group {
    margin-left: 10px;
}
.checkboxOption {
    width: 200px;
}
form {
    display: block;
}
.row {
    text-align: center;
}

#moviesDiv {
    height: 200px; 
    overflow-y: scroll;

}

#movies {
    background-color: linen;
    border: 2px solid gray;
    height: 100%;
}
